<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beranda EJS</title>
</head>
<body>
  <h1>Selamat datang di Beranda</h1>
  <p>Nama: <%= userData.nama %></p>
  <p>Umur: <%= userData.nik %></p>
</body>
</html>