<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('partials/head') %>
<body>
	<%- include('partials/header2') %>
	<section class="services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2 style="font-size: 32px; padding-bottom: 0px;">FAQ</h2>
						<p style="font-size: 13px; padding-top: 0px;">Pertanyaan yang Sering Solusi Adil Terima</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Apa itu Solusi Adil?</a></h4>
						<p style="font-size: 12px;">Solusi Adil adalah platform web yang menyediakan layanan konsultasi
							hukum, panduan hukum, dan JDIH (Jaringan Dokumentasi dan Informasi Hukum) secara online
							untuk memudahkan masyarakat dalam mengakses informasi dan bantuan hukum. </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Bagaimana cara menggunakan layanan konsultasi hukum di Solusi
								Adil?</a></h4>
						<p style="font-size: 12px;">Anda dapat mendaftar atau masuk ke akun Anda, lalu memilih menu
							konsultasi hukum. Anda dapat mengajukan pertanyaan atau masalah hukum Anda, dan seorang
							konsultan hukum akan merespons dalam waktu yang ditentukan.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Apakah layanan konsultasi di Solusi Adil berbayar?</a></h4>
						<p style="font-size: 12px;"> Solusi Adil menawarkan layanan konsultasi gratis untuk pertanyaan
							umum. </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Apa saja jenis panduan hukum yang tersedia di Solusi Adil?</a>
						</h4>
						<p style="font-size: 12px;">Solusi Adil menyediakan berbagai panduan hukum termasuk panduan
							tentang hukum perdata, pidana, ketenagakerjaan, keluarga, bisnis, dan lainnya. Panduan ini
							ditulis oleh para ahli untuk membantu Anda memahami hak dan kewajiban hukum Anda. </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Bagaimana cara mengakses dokumen hukum di JDIH Solusi Adil?</a>
						</h4>
						<p style="font-size: 12px;">Anda dapat mengakses JDIH dengan masuk ke akun Anda dan memilih menu
							JDIH. Di sana, Anda dapat mencari dan mengunduh berbagai dokumen hukum seperti peraturan,
							undang-undang, keputusan, dan lainnya.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Apakah saya bisa mengajukan pertanyaan hukum secara anonim?</a>
						</h4>
						<p style="font-size: 12px;">Ya, Solusi Adil menyediakan opsi untuk mengajukan pertanyaan hukum
							secara anonim jika Anda tidak ingin identitas Anda diketahui oleh konsultan hukum. </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Bagaimana saya tahu bahwa konsultan hukum di Solusi Adil
								terpercaya?</a></h4>
						<p style="font-size: 12px;">Solusi Adil hanya bekerja sama dengan konsultan hukum yang telah
							terverifikasi dan memiliki pengalaman serta keahlian yang sesuai di bidangnya. Profil dan
							ulasan konsultan juga dapat dilihat di situs untuk membantu Anda memilih. </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Apakah informasi saya aman di Solusi Adil?</a></h4>
						<p style="font-size: 12px;">Solusi Adil sangat memperhatikan privasi dan keamanan informasi
							pengguna. Semua data dilindungi dengan enkripsi dan hanya dapat diakses oleh pihak yang
							berwenang. </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-4">
					<div class="single-service">
						<i class="fa-regular fa-circle-question"></i>
						<h4><a style="font-size: 17px;">Bagaimana cara mendapatkan bantuan jika saya mengalami masalah
								teknis di Solusi Adil?</a></h4>
						<p style="font-size: 12px;">Jika Anda mengalami masalah teknis, Anda dapat menghubungi dukungan
							teknis kami melalui fitur bantuan yang tersedia di situs, atau mengirim email ke
							[solusiadil.id@gmail.com]. Solusi Adil akan siap membantu Anda mengatasi masalah tersebut.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('partials/footer') %>

	<%- include('partials/js') %>

</body>

</html>