<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Solusi Adil">
	<meta name="description" content="">
	<meta name='copyright' content='bimamaarschal'>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Judul -->
	<title>Solusi Adil</title>
	<link rel="icon" href="img/favicon.png">

	<!-- Fonts -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icofont@1.0.0/dist/icofont.min.css">

	<!-- CSS Main Style-->
	<link rel="stylesheet" href="css/solusiadil.css">

	<!-- CSS Library -->
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/datepicker.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/owl-carousel.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body>

	<!-- Akses Cepat - Awal -->
	<ul class="solusiadil-aksescepat">
		<a class="get-aksescepat" href="#"><i class="fa fa-commenting"></i></a>
		<li class="judul-aksescepat">Layanan Cepat</li>
		<li>Langsung terhubung dengan layanan kosultasi - SOLUSI ADIL</li>
		<div class="button">
			<a href="" target="_blank" class="btn">Konsultasi Hukum</a>
		</div>
	</ul>
	<!-- Akses Cepat - Akhir -->

	<!-- Header Area - Awal -->
	<header class="header">
		<!-- Solusiadil-topbar - Awal-->
		<div class="solusiadil-topbar">
			<div class="container">
				<div class="row">
					<!-- Pilihan - Awal -->
					<div class="col-lg-6 col-md-5 col-12">
						<ul class="solusiadil-top-link">
							<li><a href="tentangkami">Solusi Adil</a></li>
							<li><a href="kontak">Kontak</a></li>
							<li><a href="faq">FAQ</a></li>
						</ul>
					</div>
					<!-- Pilihan - Akhir -->
					<!-- Kontak - Awal -->
					<div class="col-lg-6 col-md-7 col-12">
						<ul class="solusiadil-top-contact">
							<li><i class="fa-brands fa-whatsapp"></i>+62 888 0188 9923</li>
							<li><i class="fa fa-envelope"></i><a href="mailto:-">solusiadil.id@gmail.com</a></li>
						</ul>
					</div>
					<!-- Kontak - Akhir-->
				</div>
			</div>
		</div>
		<!-- Solusiadil-topbar - Akhir -->

		<!-- Solusiadil-inner - Awal-->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<div class="logo" style="padding-bottom: 20px; width: auto; height: auto;">
								<a href="index"><img src="img/logo.png" alt="#"></a>
							</div>
							<div class="mobile-nav"></div>
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active"><a href="/">Rumah </a></li>
										<li><a href="konsultasi">Konsultasi </a></li>
										<li><a href="layanan">Layanan </a></li>
										<li><a href="tentangkami">Tentang Kami</a></li>
										<li><a href="blog">Blog </a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-lg-2 col-12">
							<div class="get-quote">
								<a href="masuk" class="btn primary">Masuk / Daftar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Solusiadil-inner - Akhir-->
	</header>
	<!-- Header Area - Akhir -->

	<!-- Slider Area - Awal -->
	<section class="solusiadil-slider">
		<div class="solusiadil-hero-slider">
			<div class="solusiadil-single-slider" style="background-color: transparent;">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1 style="font-size: 32px;">Setiap Masalah <span
										style="color: white; background-color: black; padding-left: 5px; padding-right: 5px;">Pasti
										Ada Solusi</span> </h1>
								<p style="font-size: 13px;">Dapatkan Panduan Hukum yang Komprehensif untuk Membantu Anda
									Mengatasi Tantangan
									Hukum. </p>
								<div class="button">
									<a href="/masuk" class="btn primary">Masuk Akun</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solusiadil-single-slider" style="background-color: transparent;">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1 style="font-size: 32px;">Langkah Tepat dalam Keadilan</h1>
								<p style="font-size: 13px;">Temukan Solusi Hukum yang Tepat untuk Kasus Anda dengan
									Bantuan Konsultan Hukum
									Terbaik Kami</p>
								<div class="button">
									<a href="/masuk" class="btn primary">Masuk Akun</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="solusiadil-single-slider" style="background-color: transparent;">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1 style="font-size: 32px;">Pahami Hak dan Kewajiban Anda</h1>
								<p style="font-size: 13px;"> Konsultasikan Masalah Hukum Anda dan Temukan
									Langkah-Langkah yang Tepat untuk
									Melindungi Diri Anda</p>
								<div class="button">
									<a href="/masuk" class="btn primary">Masuk Akun</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Slider Area - Akhir -->

	<!-- Fitur - Awal -->
	<section class="solusiadil-fitur">
		<div class="container">
			<div class="solusiadil-fitur-inner">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12 ">
						<div class="solusiadil-fitur-single first">
							<div class="inner">
								<div class="icon">
									<i class="fa-solid fa-scale-balanced"></i>
								</div>
								<div class="single-content">
									<h4>Konsultasi Hukum Online</h4>
									<p style="font-size: 12px;">Konsultasi Hukum Online: Solusi cepat dan akurat untuk
										setiap permasalahan hukum
										Anda.</p>
									<a href="/konsultasi">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="solusiadil-fitur-single middle">
							<div class="inner">
								<div class="icon">
									<i class="fa-solid fa-gavel"></i>
								</div>
								<div class="single-content">
									<h4>Cari Panduan Hukum</h4>
									<p style="font-size: 13px;">Temukan Kepastian Hukum Anda: Cari Panduan Hukum yang
										Jelas dan Terpercaya di
										Sini.</p>
									<a href="/panduan">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12">
						<div class="solusiadil-fitur-single last">
							<div class="inner">
								<div class="icon">
									<i class="fa-solid fa-folder-open"></i>
								</div>
								<div class="single-content">
									<h4>JDIH</h4>
									<p style="font-size: 12px;">Jelajahi keadilan dan informasi hukum melalui JDIH,
										pintu akses utama untuk
										pemahaman dan kepatuhan hukum.</p>
									<a href="/jdih">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fitur - Akhir -->

	<!-- FunFacts - Awal -->
	<div id="solusiadil-funfacts" class="solusiadil-funfacts section overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="solusiadil-single-fun">
						<i class="fa-solid fa-scale-balanced"></i>
						<div class="content">
							<span class="counter">0</span>
							<p>Pelayanan Perkara</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="solusiadil-single-fun">
						<i class="fa-solid fa-people-group"></i>
						<div class="content">
							<span class="counter">0</span>
							<p>Masyarakat Terbantu</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="solusiadil-single-fun">
						<i class="fa-solid fa-user-tie"></i>
						<div class="content">
							<span class="counter">0</span>
							<p>Afiliasi Profesi Hukum</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="solusiadil-single-fun">
						<i class="fa-solid fa-award"></i>
						<div class="content">
							<span class="counter">0</span>
							<p>Kerja Sama dan Penghargaan</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FunFacts - Akhir -->

	<!-- Kenapa - Awal -->
	<section class="Solusiadil-kenapa section-kenapa">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2 style="font-size: 28px;">Kenapa Solusi Adil</h2>
						<i class="fa-solid fa-scale-balanced"></i>
						<p style="font-size: 12px;">Solusi adil memberikan keadilan sejati, menyelaraskan hak dan
							kewajiban untuk mewujudkan
							penyelesaian yang berkeadilan.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-12">
					<div class="solusiadil-single-kenapa">
						<div class="signle-icon">
							<i class="fa-solid fa-lock"></i>
						</div>
						<h3 style="font-size: 15px;">Aman</h3>
						<p style="font-size: 12px;">Solusi Adil menjamin keamanan informasi pribadi Anda. Data klien
							dijaga secara ketat melalui
							protokol keamanan digital terkini.</p>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="solusiadil-single-kenapa">
						<div class="signle-icon">
							<i class="fa-solid fa-rocket"></i>
						</div>
						<h3 style="font-size: 15px;">Cepat</h3>
						<p style="font-size: 12px;">Solusi Adil menyediakan respon cepat terhadap pertanyaan hukum atau
							permintaan bantuan Anda.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="solusiadil-single-kenapa last">
						<div class="signle-icon">
							<i class="fa-solid fa-star"></i>
						</div>
						<h3 style="font-size: 15px;">Terpercaya</h3>
						<p style="font-size: 12px;">Setiap informasi atau panduan yang diberikan berasal dari
							sumber-sumber yang dapat dipercaya.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Kenapa - Akhir -->

	<!-- Kenapa - Awal -->
	<section class="Solusiadil-kenapa section-kenapa">
		<div class="container" style="background-color: black; ">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title" style="padding-top: 35px; color: azure;">
						<i class="fa-solid fa-quote-right"></i>
						<p style="color: azure;">Keadilan, kebenaran, kebebasan, itulah pangkal dari kebahagiaan.</p>
						<p style="color: rgba(240, 255, 255, 0.884);">Plato</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Kenapa - Akhir -->

	<!-- Galeri - Awal -->
	<section class="solusiadil-galeri section-galeri">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2 style="font-size: 28px;">Galeri</h2>
						<p style="font-size: 13px;">Kami membantu masyarakat untuk menyelesaiakan perkara hukum
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="owl-carousel solusiadil-galeri-slider">
						<div class="single-pf">
							<img src="img/sa1.png" alt="#">
							<a href="galeri" class="btn">Lihat Foto</a>
						</div>
						<div class="single-pf">
							<img src="img/sa1.png" alt="#">
							<a href="galeri" class="btn">Lihat Foto</a>
						</div>
						<div class="single-pf">
							<img src="img/sa1.png" alt="#">
							<a href="galeri" class="btn">Lihat Foto</a>
						</div>
						<div class="single-pf">
							<img src="img/sa1.png" alt="#">
							<a href="galeri" class="btn">Lihat Foto</a>
						</div>
						<div class="single-pf">
							<img src="img/sa1.png" alt="#">
							<a href="galeri" class="btn">Lihat Foto</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Galeri - Akhir -->

	<!-- Footer - Awal -->
	<footer id="akhir" class="footer ">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-footer">
							<h2 style="font-size: 22px;">Solusi Adil</h2>
							<p style="font-size: 12px;">Solusi adil memberikan keadilan sejati, menyelaraskan hak dan
								kewajiban untuk mewujudkan
								penyelesaian perkara hukum yang berkeadilan.</p>
							<ul class="social">
								<li><a href="https://www.facebook.com/solusiadil/"><i class="icofont-facebook"></i></a>
								</li>
								<li><a href="https://www.instagram.com/solusiadil/"><i
											class="icofont-instagram"></i></a></li>
								<li><a href="https://www.youtube.com/solusiadil/"><i class="icofont-youtube"></i></a>
								</li>
								<li><a href="https://www.linkedin.com/in/solusiadil/"><i
											class="icofont-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Akses Cepat</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="/tentangkami"><i class="fa fa-caret-right" aria-hidden="true"></i>
												Solusi
												Adil
											</a></li>
										<li><a href="/layanan"><i class="fa fa-caret-right" aria-hidden="true"></i>
												Pelayanan
											</a></li>
										<li><a href="/faq"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQ </a>
										</li>
										<li><a href="/blog"><i class="fa fa-caret-right" aria-hidden="true"></i> Blog
											</a>
										</li>
										<li><a href="/kontak"><i class="fa fa-caret-right" aria-hidden="true"></i>
												Kontak
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Keterangan</h2>
							<p style="font-size: 12px;"> Website Solusi Adil di buat untuk keperluan Skripsi dan Sistem
								pelayanan yang akan
								digunakan di lingkup Kota Bandung </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p style="font-size: 13px;">© Copyright 2024 | Di Rancang dan Di Buat oleh <a
									href="https://www.linkedin.com/in/bimamaarschal/" target="_blank">Bima
									Maarschal</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer - Akhir -->

	<!-- Solusi Adil - JS Library -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/easing.js"></script>
	<script src="js/colors.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/slicknav.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/niceselect.js"></script>
	<script src="js/tilt.jquery.min.js"></script>
	<script src="js/owl-carousel.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/steller.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>