<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Judul -->
	<title>Solusi Adil</title>
	<link rel="icon" href="img/favicon.png">

	<!-- Fonts -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icofont@1.0.0/dist/icofont.min.css">

	<!-- CSS Main Style-->
	<link rel="stylesheet" href="css/solusiadil.css">

	<!-- CSS Library -->
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/datepicker.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/owl-carousel.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body>

	<!-- Header Area - Awal -->
	<header class="header">
		<!-- Solusiadil-topbar - Awal-->
		<div class="solusiadil-topbar">
			<div class="container">
				<div class="row">
					<!-- Pilihan - Awal -->
					<div class="col-lg-6 col-md-5 col-12">
						<ul class="solusiadil-top-link">
							<li><a href="/"><i class="fa-solid fa-home"></i></a></li>
							<li><a href="tentangkami">Solusi Adil</a></li>
							<li><a href="kontak">Kontak</a></li>
							<li><a href="faq">FAQ</a></li>
						</ul>
					</div>
					<!-- Pilihan - Akhir -->
					<!-- Kontak - Awal -->
					<div class="col-lg-6 col-md-7 col-12">
						<ul class="solusiadil-top-contact">
							<li><i class="fa-brands fa-whatsapp"></i>+62 888 0188 9923</li>
							<li><i class="fa fa-envelope"></i><a href="mailto:-">solusiadil.id@gmail.com</a></li>
						</ul>
					</div>
					<!-- Kontak - Akhir-->
				</div>
			</div>
		</div>
		<!-- Solusiadil-topbar - Akhir -->
	</header>
	<!-- Header Area - Akhir -->

	<!-- Daftar - Awal -->
	<section class="appointment">
		<div class="container" style="padding-bottom: 150px;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="section-title">
						<h2> <i class="fa-solid fa-key"></i> Portal Profesi Penegak Hukum</h2>
						<p style="font-size: 13px;">Maaf, Anda belum masuk Solusi Adil <br> Silahkan masuk untuk memulai
							semua fitur APPH Solusi Adil</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-6 col-6">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<form class="form" action="/login" method="POST">
								<div class="row">
									<div class="col-lg-12 col-md-6 col-12">
										<div class="form-group">
											<small>SOLUSI ADIL APPH ID - 9 Digit Angka Saat Anda Terverifikasi Sebagai APPH</small>
											<input id="id_apph" name="id_apph" type="number"
												oninput="validateLength(this)">
											<small id="error-message" style="color:red; display:none;">ID hanya terdiri
												dari 9 angka acak</small>
										</div>
									</div>
									<div class="col-lg-12 col-md-6 col-12">
										<div class="form-group">
											<small>Sandi</small>
											<input id="password" name="password" type="password">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-7 col-md-8 col-12">
										<p style="font-size: 12px;">Apakah Anda lupa kata sandi ? <a href="register"
												style="background: black; color: white; padding: 10px;">Solusi</a></p>
									</div>
									<div class="col-lg-5 col-md-4 col-12">
										<div class="form-group text-lg-right text-md-right text-center">
											<div class="get-quote">
												<button type="submit" class="btn" value="Login">Masuk</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
	</section>
	<!-- Daftar - Akhir -->
	<!-- Footer - Awal -->
	<footer id="akhir" class="footer ">
		<div class="copyright" style="padding-bottom: 72px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2024 | Di Rancang dan Di Buat oleh <a
									href="https://www.linkedin.com/in/bimamaarschal/" target="_blank">Bima
									Maarschal</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer - Akhir -->

	<script src="function/masuk.js"></script>

	<!-- Solusi Adil - JS Library -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/easing.js"></script>
	<script src="js/colors.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/slicknav.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/niceselect.js"></script>
	<script src="js/tilt.jquery.min.js"></script>
	<script src="js/owl-carousel.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/steller.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>

</html>