<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('partials/head') %>
<body>
	<%- include('partials/header2') %>
		<section class="Solusiadil-kenapa section-kenapa">
			<div class="container" style="background-color: black; ">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title" style="padding-top: 42px; color: azure;">
							<i class="fa-solid fa-quote-right"></i>
							<p style="color: azure;">Orang baik tidak perlu hukum untuk bertindak secara bertanggung jawab, sementara orang jahat akan mencari-cari jalan di sekitar undang-undang.</p>
							<p style="color: rgba(240, 255, 255, 0.884);">Plato</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Kenapa - Akhir -->

	<!-- Tentang kami - Awal -->
	<section class="why-choose section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="choose-left">
						<h3>Apa yang Dikerjakan Solusi Adil?</h3>
						<p>Solusi Adil memberikan keadilan sejati, menyelaraskan hak dan kewajiban untuk mewujudkan
							penyelesaian perkara hukum yang berkeadilan.</p>
						<p>Kami hadir untuk mendampingi Anda dalam menyelesaikan berbagai permasalahan hukum dengan pendekatan yang adil dan bijaksana.</p>
						<div class="row">
							<div class="col-lg-6">
								<ul class="list">
									<li><i class="fa fa-caret-right"></i>Menyediakan pendampingan hukum yang profesional.</li>
									<li><i class="fa fa-caret-right"></i>Memberikan solusi yang tepat dan adil.</li>
									<li><i class="fa fa-caret-right"></i>Mewujudkan keadilan bagi semua pihak.</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="list">
									<li><i class="fa fa-caret-right"></i>Meningkatkan kesadaran hukum masyarakat.</li>
									<li><i class="fa fa-caret-right"></i>Memastikan hak-hak Anda terlindungi.</li>
									<li><i class="fa fa-caret-right"></i>Mengutamakan prinsip keadilan dalam setiap kasus.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-12">
					<div class="choose-right">
						<div class="video-image">
							<div class="promo-video">
								<div class="waves-block">
									<div class="waves wave-1"></div>
									<div class="waves wave-2"></div>
									<div class="waves wave-3"></div>
								</div>
							</div>
							<a href="https://www.youtube.com/watch?v=4gxEmdpyxSY"
								class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-12" style="padding-top: 150px;">
					<div class="choose-left">
						<h3>Visi, Misi, dan Target Masa Depan Kami</h3>
						<p>Solusi Adil berkomitmen untuk menjadi pemimpin dalam penyelesaian hukum yang adil dan inklusif.</p>
						<p>Kami berupaya untuk mewujudkan visi kami melalui misi yang kuat dan target jangka panjang yang jelas.</p>
						<div class="row">
							<div class="col-lg-6">
								<ul class="list">
									<li><i class="fa fa-caret-right"></i>Menciptakan sistem hukum yang adil dan transparan.</li>
									<li><i class="fa fa-caret-right"></i>Meningkatkan kesadaran dan kepatuhan hukum di masyarakat.</li>
									<li><i class="fa fa-caret-right"></i>Memastikan akses keadilan bagi semua lapisan masyarakat.</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="list">
									<li><i class="fa fa-caret-right"></i>Meningkatkan efisiensi dan efektivitas penyelesaian kasus hukum.</li>
									<li><i class="fa fa-caret-right"></i>Mendorong kolaborasi antara lembaga hukum dan masyarakat.</li>
									<li><i class="fa fa-caret-right"></i>Mengembangkan teknologi untuk mendukung transparansi hukum.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- Tentang kami - Akhir -->
	

	<!-- Bergabung - Awal -->
	<section id="bergabung" class="solusiadil-bergabung section">
		<div class="container">
			<div class="row ">
				<div class="col-lg-6  col-12">
					<div class="subscribe-text ">
						<h6>Bergabung di Discord</h6>
						<p class="">Bergabunglah di Discord Solusi Adil untuk mendapatkan informasi eksklusif terkait
							hukum dan interaksi langsung dengan ahli.</p>
					</div>
				</div>
				<div class="col-lg-6  col-12">
					<div class="subscribe-form ">
						<form action="mail/mail.php" method="get" target="_blank" class="solusiadil-bergabung-inner">
							<input name="EMAIL" placeholder="Isi Email Anda" class="common-input"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Isi Email Anda'" required=""
								type="email">
							<button class="btn">Kirim Permintaan</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<%- include('partials/footer') %>

	<%- include('partials/js') %>

</body>

</html>