<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

	<body>

		<%- include('../partials/header', { activePage: 'datapanduan' }) %>

			<!-- TextAwal - Awal-->
			<div class="textawal overlay">
				<div class="container">
					<div class="textawal-inner">
						<div class="row">
							<div class="col-12">
								<h2 style="font-size: 25px; font-weight: 100;">panduan Hukum Pilihan</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- TextAwal - Akhir-->

			<!-- panduan - Awal -->
			<section class="panduan section" id="panduan">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padpanduan">
							<div class="solusiadil-single-panduan">
								<div class="solusiadil-head-panduan">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-panduan">
									<div class="solusiadil-content-panduan">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="panduan-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padpanduan">
							<div class="solusiadil-single-panduan">
								<div class="solusiadil-head-panduan">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-panduan">
									<div class="solusiadil-content-panduan">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="panduan-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padpanduan">
							<div class="solusiadil-single-panduan">
								<div class="solusiadil-head-panduan">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-panduan">
									<div class="solusiadil-content-panduan">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="panduan-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padpanduan">
							<div class="solusiadil-single-panduan">
								<div class="solusiadil-head-panduan">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-panduan">
									<div class="solusiadil-content-panduan">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="panduan-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padpanduan">
							<div class="solusiadil-single-panduan">
								<div class="solusiadil-head-panduan">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-panduan">
									<div class="solusiadil-content-panduan">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="panduan-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padpanduan">
							<div class="solusiadil-single-panduan">
								<div class="solusiadil-head-panduan">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-panduan">
									<div class="solusiadil-content-panduan">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="panduan-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<%- include('../partials/footer') %>

				<%- include('../partials/js') %>
	</body>

</html>