<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

	<body>

		<%- include('../partials/header', { activePage: 'datablog' }) %>

			<!-- TextAwal - Awal-->
			<div class="textawal overlay">
				<div class="container">
					<div class="textawal-inner">
						<div class="row">
							<div class="col-12">
								<h2 style="font-size: 25px; font-weight: 100;">Blog Hukum Pilihan</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- TextAwal - Akhir-->

			<!-- Blog - Awal -->
			<section class="blog section" id="blog">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padblog">
							<div class="solusiadil-single-blog">
								<div class="solusiadil-head-blog">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-blog">
									<div class="solusiadil-content-blog">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="blog-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padblog">
							<div class="solusiadil-single-blog">
								<div class="solusiadil-head-blog">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-blog">
									<div class="solusiadil-content-blog">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="blog-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padblog">
							<div class="solusiadil-single-blog">
								<div class="solusiadil-head-blog">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-blog">
									<div class="solusiadil-content-blog">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="blog-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padblog">
							<div class="solusiadil-single-blog">
								<div class="solusiadil-head-blog">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-blog">
									<div class="solusiadil-content-blog">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="blog-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padblog">
							<div class="solusiadil-single-blog">
								<div class="solusiadil-head-blog">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-blog">
									<div class="solusiadil-content-blog">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="blog-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 solusiadil-padblog">
							<div class="solusiadil-single-blog">
								<div class="solusiadil-head-blog">
									<img src="img/sa1.png" alt="#">
								</div>
								<div class="solusiadil-body-blog">
									<div class="solusiadil-content-blog">
										<div class="date">00 Feb, 2024</div>
										<h2><a href="blog-single">Judul.</a></h2>
										<p class="text">Keterangan.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<%- include('../partials/footer') %>

				<%- include('../partials/js') %>
	</body>

</html>