<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

<body>

	<header class="header">
		<div class="solusiadil-topbar">
			<div class="container" style="display: flex; justify-content: center;">
				<div class="row">
					<div class="logo" style="padding-bottom: 0px; padding-top: 0px; width: 150px; height: auto; margin: auto;">
						<a href="masuk"><img src="img/logo.gif" alt="#"></a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="appointment">
		<div class="container" style="padding-bottom: 150px;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="section-title">
						<h2>Perbarui Kata Sandi</h2>
						<p style="font-size: 13px;">Silahkan isi Password baru Anda</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-6 col-6">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<form class="form" action="/updatepassword" method="POST">
								<div class="row">
								<input type="hidden" name="id_apph" value="<%= id_apph %>">
								<input type="hidden" name="nik" value="<%= nik %>">
									<div class="col-lg-12 col-md-12 col-12">
										<div class="form-group">
											<small>Password Baru</small>
											<input id="password" name="password" type="password">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-7 col-md-8 col-12">
										<p style="font-size: 12px;">Apakah Anda ingin Login <a href="masuk"
												style="background: black; color: white; padding: 10px;">Masuk</a></p>
									</div>
									<div class="col-lg-5 col-md-4 col-12">
										<div class="form-group text-lg-right text-md-right text-center">
											<div class="get-quote">
												<button type="submit" class="btn">Kirim</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
	</section>


	<footer id="akhir" class="footer ">
		<div class="copyright" style="padding-bottom: 72px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2024 | Di Rancang dan Di Buat oleh <a href="https://www.linkedin.com/in/bimamaarschal/" target="_blank">Bima Maarschal</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<%- include('../partials/js') %>
	<script src="function/masuk.js"></script>

</body>

</html>